@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Sigmar+One&display=swap');
*{
    margin:0px;
    font-family: 'Source Sans Pro';

}


.xl-container{
        margin-left:20%;
        margin-right:20%;
    }
 
@media screen and (max-width: 600px){
    .xl-container{
        margin-left:0%;
        margin-right:0%;
    }
}
.addart{
    position: fixed;
    bottom:15px;
    right:15px;
}
.article-container{
    width:100%;
    background-color: #fafafa;
    color:rgb(0, 0, 0);
    padding:2%;
    margin-bottom:20px;
    border-left:4px solid rgb(221, 221, 221);

    
}
.footer{
    display:flex;
}
.date{
    font-size:0.7em;
}
.article-profile{
    float:left;
    margin-right:20px;
}
.article-type{
    color:rgb(83, 83, 83);
}
.filler{
    flex:10;
}
.article-user{
    /* font-size:2em; */
}
.article-content{
    margin-top:10px;
    /* padding-left:50px; */
}
.article-title{
    font-weight: bold;
}
.article-claim{
    /* position:absolute; */
    /* right:10px; */
    color:rgb(5, 211, 5);
    padding-left:20px;
}
.article-bottom{
    /* position: absolute; */
    margin-top:10px;
    bottom:10px;
}
.like-btn{
    filter: invert(78%) sepia(2%) saturate(45%) hue-rotate(12deg) brightness(101%) contrast(103%);

}
.article-image{
    width:100%;
}


.profile-image{
    border-radius: 50%;
}
.username{
    font-family:'Pacifico';
    font-size:30px;
}
html{
    width:100%;
}
.notif{
    border-left:12px solid rgb(39, 39, 39)d;
    margin-bottom:10px;
    background-color: rgb(255, 235, 235);
    padding:10px;
}