{% extends "layout.html" %}

{% block body %}
<h3>My Dashboard</h3>
<hr>


<a class = "btn btn-primary" href = "{% url 'article:addarticle' %}">Add Article </a>
<hr>
{% if articles %}
<!-- <table class="table"> -->
        <!-- <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Date Created</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead> -->
        <!-- <tbody> -->
          {% for article in articles %}
          <!-- <tr>
            <th scope="row">{{article.id}}</th>
            <td><a href="{% url 'article:detail' article.id %}">{{article.title}}</a></td>
            <td>{{article.author.username}}</td>
            <td>{{article.created_date}}</td>
            <td><a href="{% url 'article:update' article.id %}" class = "btn btn-danger">Edit</a></td>
            <td><a href="{% url 'article:delete' article.id %}" class = "btn btn-danger">Delete</a> </td>
              
          </tr> -->
          <div class="card-deck " >
           
            <div class="card bg-light mb-3" style="max-width: 60rem;">
              <div class="card-header" style="text-transform: uppercase;">{{article.title}}</div>
              <div class="card-body">
                <!-- <h5 class="card-title">Light card title</h5> -->
                <p class="card-text ">{{article.content}}</p>
                <a href="{% url 'article:update' article.id %}" class = "btn btn-warning" style="position: absolute; right:90px; bottom:1px;">Edit</a>
                <a href="{% url 'article:delete' article.id %}" class = "btn btn-danger" style="position: absolute; right:5px; bottom:1px;">Delete</a>
              </div>
            </div>

              <div class="card bg-light mb-3" style="max-width: 60rem; min-height: 10rem;max-height: 17rem;">
              <div class="card-header" style="text-transform: uppercase;">{{article.title}}</div>
                <div class="card-body">
                  <!-- <h5 class="card-title">Light card title</h5> -->
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="{% url 'article:update' article.id %}" class = "btn btn-warning" style="position: absolute; right:90px; bottom:1px;">Edit</a>
                  <a href="{% url 'article:delete' article.id %}" class = "btn btn-danger" style="position: absolute; right:5px; bottom:1px;">Delete</a>
                </div>
            </div>
          </div>
          {% endfor %}
          
        <!-- </tbody> -->
      <!-- </table> -->
{% else %}

<div class = "alert alert-danger">
    You have no articles yet.

</div>
{% endif %}



{% endblock body %}
