{% extends "layout.html" %}
{% load static %}
{% block body %}
<h3>{{article_type}}</h3>

{% if articles %}

{% for article in articles %}
<div class="article-container">
    <div class="article-user"> 

        <div class ="article-profile">
            <a class="links" href="{% url  'user:profile' article.author %}"> 
            {% if  article.author.profile.image  %}
           <img src="{{article.author.profile.get_absolute_image_url}}" width="50px" height="50px" style="border-radius:50%">
            {% else %}
            <img src=" {% static 'img/profile_dummy.png' %}" width="50px" height="50px"  style="border-radius:50%">
            {% endif %}
        </a>
        
        </div>
        {{article.author}}  | <span class="article-type">{{article.article_type}}</span> 

        <div class="date"> {{article.created_date}}</div>
    </div>
        <div class="article-content">
            <div class="article-title"> {{article.title}}</div>
            <div> {{article.content}}</div>

        </div>
        <div  class="article-bottom">
          {% if article.article_image %}
          <div><img class="article-image" src="{{article.get_absolute_image_url}}"></div>
<br/>
          {% endif %}
          <div class="footer">            
             <div>
                <img class="like like-btn" src=" {% static 'img/heart_filled.svg' %}" width="30px" height="30px" value="{{article.id}}">
                {{article.get_likes}}
             </div>
             <div class="filler">

             </div>
             <div>
                <img class="star like-btn" src=" {% static 'img/star.svg' %}" width="30px" height="30px" value="{{article.id}}">

                {%  ifequal article.article_type  "request"  %} Bid {% endifequal %}
                {%  ifequal article.article_type "found"  %} Claim {% endifequal %}
                {%  ifequal article.article_type "lost"  %} Found {% endifequal %}
                {%  ifequal article.article_type "sell"  %} Bid {% endifequal %}
                {%  ifequal article.article_type "give"  %} Bid {% endifequal %}
             </div>
             
             </div>
            
        </div>
</div>


{%  endfor %}

{% else %}

<div class = "alert alert-danger">
    You have no articles yet.

</div>
{% endif %}

{% endblock body %}

