{% extends "layout.html" %}
{% load static %}
<style>
     .profile-image{
        border-radius: 50%;
    }
    .username{
        font-family:'Pacifico';
        font-size:30px;
    }
    .edit-image{
        position:absolute;
        top:50px;
        left:50px;
        opacity:0%;
    }
    .edit-image:hover{
        opacity:100%;
        background-color: rgba(250, 235, 215, 0.63);
    }
</style>
{% block body %}
<div class="username" style="font-family:'Pacifico';font-size:40px;">{{profile.user}}</div>
<div class="image">
    {% if profile.image %}
    <img class="profile-image" src="{{profile.get_absolute_image_url}}" style="border-radius:50%;" width="200px" height="200px">
{% else %}
    <img class="profile-image" src="{% static 'img/profile_dummy.png' %}" style="border-radius:50%;" width="200px" height="200px">
{% endif %}
{% ifequal profile.user request.user %}
<div class="edit-image"><a href="{% url 'user:editprofile'%}"><img src=" {% static 'img/edit.svg' %}" width="40px" height="40px"></a></div>
{% endifequal %}
</div>
{% endblock body %}

